<!DOCTYPE html>
<html>
  <head>
    {% block meta %}
      <meta charset="UTF-8">
    {% endblock %}
    <title>{% block title %}{{ sitename }}{% endblock %}</title>

    {% block stylesheets %}
      {% stylesheets filter='?yui_css'
        '@BsBootstrapifyBundle/Resources/less/bootstrap-all.less'
      %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
      {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
      <!--[if lt IE 9]>
      <script src="{{ asset('bundles/bsbootstrapify/js/html5shiv.js') }}"></script>
      <script src="{{ asset('bundles/bsbootstrapify/js/respond.min.js') }}"></script>
      <script src="{{ asset('bundles/bsbootstrapify/js/es5-shiv.min.js') }}"></script>
      <![endif]-->
      {% javascripts filter='?yui_js'
        '@BsBootstrapifyBundle/Resources/js/jquery.js'
        '@BsBootstrapifyBundle/Resources/js/bootstrap.js'
        '@BsBootstrapifyBundle/Resources/js/bootstrap-datepicker.js'
        '@BsBootstrapifyBundle/Resources/js/selectize.js'
      %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {{ bootstrapify_datepicker_locale() }}
    {% endblock %}
  </head>
  <body{% block body_attributes %}{% endblock %}>
    {% block body %}{% endblock %}
  </body>
</html>
