{% block form_rows %}
  {% if errors|length > 0 %}
  <div class="alert alert-error">
    {{ form_errors(form) }}
  </div>
  {% endif %}
  {% for child in form %}
    {{ form_row(child) }}
  {% endfor %}
{% endblock %}

{% block form_row %}
<div class="control-group{{ errors|length > 0 ? ' error' }}">
  {{ form_label(form) }}
  <div class="controls">
    {{ form_widget(form) }}
    {{ form_errors(form) }}
  </div>
</div>
{% endblock %}

{% block form_label %}
  {% if label is empty %}
    {% set label = name|humanize %}
  {% endif %}
  <label class="control-label" for="{{ id }}">
    {{ label|trans }}
    {% if required %}
      <span class="text-error" title="{{ 'Required field'|trans }}">*</span>
    {% endif %}
  </label>
{% endblock %}

{% block form_errors %}
{% spaceless %}
  {% if errors|length > 0 %}
    <span class="help-block">
      {% for error in errors %}
        {{ error.message }}
      {% endfor %}
    </span>
  {% elseif help is defined %}
    <span class="help-block">
      {{ help }}
    </span>
  {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block date_widget %}
{% spaceless %}
  {% if widget == 'single_text' %}
    {% set attr = attr|merge({'class': 'datepicker'}) %}
    {{ block('form_widget_simple') }}
  {% else %}
    <div {{ block('widget_container_attributes') }}>
      {{ date_pattern|replace({
        '{{ year }}':  form_widget(form.year, {'attr': {'class': 'input-small'}}),
        '{{ month }}': form_widget(form.month, {'attr': {'class': 'input-small'}}),
        '{{ day }}':   form_widget(form.day, {'attr': {'class': 'input-mini'}}),
      })|raw }}
    </div>
  {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block textarea_widget %}
{% spaceless %}
  {% set attr = attr|merge({'rows': 6, 'cols': 60, 'class': 'input-xxlarge'}) %}
  <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}
