{% block form_rows %}
{% spaceless %}
  {% if errors|length > 0 %}
    {{ form_errors(form) }}
  {% endif %}
  {% for child in form %}
    {{ form_row(child) }}
  {% endfor %}
{% endspaceless %}
{% endblock %}

{% block form_row %}
{% spaceless %}
<div class="control-group{{ errors|length > 0 ? ' error' }}">
  {{ form_label(form) }}
  <div class="controls">
    {{ form_widget(form) }}
    {{ form_errors(form) }}
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if label_attr.class is defined %}
        {% set label_attr = label_attr|merge({'class': 'control-label ' ~ label_attr.class}) %}
        {% else %}
        {% set label_attr = {'class': 'control-label'}|merge(label_attr) %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
          {{ label|trans({}, translation_domain) }}
          {% if required %}
            <span class="text-error" title="{{ 'Required field'|trans }}">*</span>
          {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
{% spaceless %}
  {% if errors|length > 0 %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for error in errors %}
        {{ error.message }}
      {% endfor %}
    </div>
  {% elseif help is defined %}
    <span class="help-block">
      {{ help|trans }}
    </span>
  {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block date_widget %}
{% spaceless %}
  {% if widget == 'single_text' %}
    {% set attr = {'class': 'datepicker'}|merge(attr) %}
    {{ block('form_widget_simple') }}
  {% else %}
    <div {{ block('widget_container_attributes') }}>
      {{ date_pattern|replace({
        '{{ year }}':  form_widget(form.year, {'attr': {'class': 'input-small'}}),
        '{{ month }}': form_widget(form.month, {'attr': {'class': 'input-small'}}),
        '{{ day }}':   form_widget(form.day, {'attr': {'class': 'input-mini'}}),
      })|raw }}
    </div>
  {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block textarea_widget %}
{% spaceless %}
  {% set attr = {'rows': 6, 'cols': 60, 'class': 'input-xxlarge'}|merge(attr) %}
  <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}

{% block button_row %}
{% spaceless %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock button_row %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set default_class = (label == 'Save') ? 'btn btn-primary' : 'btn' %}
    {% if attr.class is defined %}
      {% set attr = {'class': default_class ~ ' ' ~ attr.class}|merge(attr) %}
    {% else %}
      {% set attr = {'class': default_class}|merge(attr) %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
      {% if label|slice(0, 4) == 'Save' %}
        <span class="icon-save"></span>
      {% endif %}
      {{ label|trans({}, translation_domain) }}
    </button>&nbsp;
{% endspaceless %}
{% endblock button_widget %}
