{% block form_rows %}
{% spaceless %}
  {% if errors|length > 0 %}
    {{ form_errors(form) }}
  {% endif %}
  {% for child in form %}
    {{ form_row(child) }}
  {% endfor %}
{% endspaceless %}
{% endblock %}

{% block form_row %}
{% spaceless %}
<div class="form-group{{ errors|length > 0 ? ' error' }}">
  {{ form_label(form) }}
  {{ form_widget(form) }}
  {{ form_errors(form) }}
</div>
{% endspaceless %}
{% endblock %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
          {{ label|trans({}, translation_domain) }}
          {% if required %}
            <span class="text-error" title="{{ 'Required field'|trans }}">*</span>
          {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form'}) %}
    <form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_errors %}
{% spaceless %}
  {% if errors|length > 0 %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for error in errors %}
        {{ error.message }}
      {% endfor %}
    </div>
  {% elseif help is defined %}
    <p class="help-block">
      {{ help }}
    </p>
  {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block date_widget %}
{% spaceless %}
  {% if widget == 'single_text' %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' datepicker form-control'}) %}
    {{ block('form_widget_simple') }}
  {% else %}
    <div {{ block('widget_container_attributes') }}>
      {{ date_pattern|replace({
        '{{ year }}':  form_widget(form.year, {'attr': {'class': 'input-small'}}),
        '{{ month }}': form_widget(form.month, {'attr': {'class': 'input-small'}}),
        '{{ day }}':   form_widget(form.day, {'attr': {'class': 'input-mini'}}),
      })|raw }}
    </div>
  {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block choice_widget %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
{% spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block form_widget_simple %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
{% spaceless %}
  {% set attr = {'rows': 6, 'cols': 60}|merge(attr) %}
  <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}

{% block checkbox_row %}
{% spaceless %}
  <div class="checkbox">
    {{ form_label(form) }}
    {{ form_errors(form) }}
  </div>
{% endspaceless %}
{% endblock checkbox_row %}

{% block checkbox_label %}
{% if label is not sameas(false) %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ form_widget(form) }} {{ label|trans({}, translation_domain) }}
    </label>
{% endif %}
{% endblock checkbox_label %}

{% block button_row %}
{% spaceless %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock button_row %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set default_class = (label == 'Save') ? 'btn btn-primary' : 'btn btn-default' %}
    {% if attr.class is defined %}
      {% set attr = {'class': default_class ~ ' ' ~ attr.class}|merge(attr) %}
    {% else %}
      {% set attr = {'class': default_class}|merge(attr) %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
      {% if label|slice(0, 4) == 'Save' %}
        <span class="icon-save"></span>
      {% endif %}
      {{ label|trans({}, translation_domain) }}
    </button>&nbsp;
{% endspaceless %}
{% endblock button_widget %}
